.appbar.archive-appbar {
  justify-content: flex-start;
  align-items: center;

  .separator {
    font-size: 15px;
    padding: 0px 5px;
  }

  .project-viewer {
    .@{_COMMON_PREFIX}wrapper {
      display: none;
    }
  }

  .home-button {
    display: block;
  }

}
