.archive-item-preview-panel {
  .item-preview-toolbar.archive-item-preview-toolbar {
    background-color: #e1c4ce !important;
  }

  .wrapper + iframe.image, iframe.image {
    background-color: @admin-dark-gray;
  }

  &.no-preview {
    .no-preview-message {
      background-color: @admin-dark-gray;
    }
  }
}
