.archive-browse-panel {
  .toolbar {
    background-color: #f7f7f7;

    .toggle-button {
      margin-left: auto;

      &.expanded {
        &::before {
          color: @admin-button-blue1;
        }

        &:hover::before {
          color: @admin-button-blue2;
        }
      }
    }
  }

  .split-panel .tree-grid-toolbar {
    background-color: @admin-white;
  }
}
