.archive-item-preview-panel {
  .item-preview-toolbar.archive-item-preview-toolbar {
    background-color: #e1c4ce !important;

    .preview-mode-dropdown {
      flex: 1;
    }

    .refresh-button-wrapper {
      display: none;
    }
  }
}
