.archive-browse-panel {
  &:not(.mobile-mode) {
    .responsive-toolbar {
      .non-mobile-details-panel-toggle-button {
        margin-left: auto;
      }
    }
  }

  .filter-panel {
    .constraint-section .action-button.btn-close {
      position: static;
    }
  }

  .split-panel .tree-grid-toolbar {
    background-color: @admin-white;
  }

  .tree-grid-toolbar {
    margin-top: 0;
  }

  .archive-tree-list {
    .tree-list-element {
      .item-view-wrapper {
        &.selected {
          > .toggle-and-item-wrapper {
            .archive-content-viewer {
              .xp-admin-common-names-view * {
                color: @admin-white;
              }

              .archive-status {
                span {
                  color: @admin-white;
                }
              }
            }
          }
        }

        .toggle-and-item-wrapper {
          display: grid;
          grid-template-columns: 32px 1fr;
        }

        .archive-list-item-viewer {
          display: grid;
          grid-template-columns: 1fr 90px;

          .status-viewer {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }

  .archive-list-box-wrapper {
    overflow: auto;
    height: calc(100% - 40px); // minus toolbar height
  }

}
