@font-face {
  font-family: 'cs-plus';
  src: url('../fonts/icomoon.eot?d2dpl4');
  src: url('../fonts/icomoon.eot?#iefixd2dpl4') format('embedded-opentype'),
  url('../fonts/icomoon.woff?d2dpl4') format('woff'),
  url('../fonts/icomoon.ttf?d2dpl4') format('truetype'),
  url('../fonts/icomoon.svg?d2dpl4#icomoon-release') format('svg');
}

.icon {
  .icon-mixin('cs-plus');
}


.icon-version-modified {
  .icon();

  &:before {
    content: "\e908";
  }
}

.icon-archive {
  .icon;
  &:before {
    content: "\e95f";
  }
}