@_APP_PREFIX: cs-plus-;
@_APP_WIDGET_PREFIX: @{_APP_PREFIX}widget-;
@_APP_WIDGET_LAYERS_PREFIX: @{_APP_WIDGET_PREFIX}layers;

@import "~enonic-admin-artifacts";

@import "icons";

@import "browse/appbar";
@import "browse/archive-tree-grid";
@import "browse/archive-item-preview-panel";
@import "browse/archive-browse-panel";
@import "browse/archive-item-viewer";
@import "dialog/archive-dialog";
@import "dialog/archive-delete-dialog";
@import "dialog/archive-content-dialog-viewer";
@import "dialog/archive-items-list";
@import "dialog/confirm-restore";
