.comparison-block {
  margin-bottom: 10px;
  border-bottom: 1px solid @admin-dark-gray-border;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .compare-element {
    display: block;
    padding: 0 0 20px;

    pre {
      white-space: pre-wrap;
      display: flex;
    }

    ul {
      padding: 0 0 0 10px;
    }

    &.empty {
      display: block;

      h3 {
        display: block;
        font-family: @admin-font-family;
        font-size: 16px;
      }
    }
  }

  &.loading {
    .compare-element {
      min-height: 50px;
    }
  }

  @media screen and (max-width: 540px) {
    padding: 10px 0;

    .header {
      margin-bottom: 5px;
      flex-wrap: wrap;

      .form-input {
        margin: 5px 0;
      }
    }

    .compare-element {
      padding-left: 0;

      > div {
        padding-left: 0;
      }
    }
  }
}
