.comparison-block {
  padding: 10px;
  margin-top: 10px;

  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;

    .form-input {
      margin: 10px 25px 0;
    }
  }

  .compare-element {
    display: block;

    pre {
      white-space: pre-wrap;
      display: flex;
    }

    ul {
      padding: 0 0 0 10px;
    }

    &.empty {
      display: block;

      h3 {
        display: block;
        font-family: @admin-font-family;
        font-size: 16px;
      }
    }
  }

  &.loading {
    .compare-element {
      min-height: 50px;
    }
  }

  @media screen and (max-width: 540px) {
    padding: 10px 0;

    .header {
      margin-bottom: 5px;

      .form-input {
        margin: 5px 0;
      }
    }

    .compare-element {
      padding-left: 0;

      > div {
        padding-left: 0;
      }
    }
  }
}
