@import "jsondiffpatch/formatters/styles/html.css";
@import '@enonic/lib-admin-ui/styles/api/ui/time/calendar';
@import '@enonic/lib-admin-ui/styles/api/ui/time/date-time-range-picker';
@import '@enonic/lib-admin-ui/styles/api/ui/time/date-time-picker';
@import "../widget";
@import "comparisons-container";
@import "comparison-block";
@import "text-and-date";
@import "date-range-input";
@import "publish-report-print";

.cs-plus-widget-publish-report {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .widget-publish-report-button-open {
    padding: 8px 70px;
    margin: 20px auto;
    background-color: @admin-button-blue2;

    &:not(.disabled):hover {
      background-color: @admin-button-blue1;
    }
  }
}
