body.publish-report-dialog-open {
  @media print {
    > *:not(.dialog-container) {
      display: none !important;
    }

    .dialog-container {
      position: static;

      .publish-report-dialog {
        position: static;
        max-width: none !important;
        width: 100%;
        height: 100%;

        .modal-dialog-wrapper {
          .modal-dialog-body {
            overflow: visible !important;

            .dialog-content {
              -webkit-print-color-adjust: exact;

              .form-view {
                background-color: @admin-white;
                padding: 0;
                font-size: 14px;

                .date-time-input {
                  background-color: @admin-white;

                  .date-time-picker {
                    .@{_COMMON_PREFIX}wrapper {
                      &:before {
                        display: none;
                      }

                      .form-input {
                        border: none;
                        padding-left: 0;
                      }

                      .date-time-dialog {
                        display: none !important;
                      }
                    }
                  }
                }
              }

              .comparison-block {
                padding: 0;

                .compare-element {
                  padding-left: 0;

                  > div {
                    padding-left: 0;
                  }
                }

                .header .checkbox {
                  display: none;
                }

                .jsondiffpatch-delta .jsondiffpatch-node {
                  display: block;
                }

                li {
                  display: flex;
                  flex-wrap: wrap;
                }
              }
            }
          }
        }

        .modal-dialog-footer {
          display: none;
        }
      }
    }
  }

}
