.text-and-date {
  font-size: 14px;
  display: flex;

  .state-icon {
    margin-right: 5px;

    &::before {
      font-size: 18px;
    }
  }

  .date, .date {
    font-weight: bold;
  }

  > span:not(:last-child):not(.state-icon) {
    margin-right: 3px;
  }

  @media screen and (max-width: 540px) {
    font-size: 12px;
  }
}
