.archive-dialog {
  .sub-title {
    margin-top: 15px;
  }

  &.is-processing {
    .dialog-content {
      > *:not(.progress-bar) {
        display: none;
      }
    }
  }

  .modal-dialog-wrapper {
    .modal-dialog-body {
      .dialog-content {
        .archive-dialog-item-list {
          .archive-content-viewer {
            flex-shrink: 0;
          }
        }

        .items-title {
          margin-top: 15px;
          font-size: 12px;
          font-weight: bold;
        }
      }
    }
  }
}
