.create-variant-dialog {
  .dialog-content {
    .original-item-container {
      .original-item-container-title {
        margin-bottom: 5px;
      }

      .content-summary-and-compare-status-viewer {
        &:hover {
          cursor: pointer;
          background-color: #eee;
          outline: 2px solid #eee;

          * {
            cursor: pointer;
          }
        }
      }
    }

    .text-value-element {
      margin-top: 10px;
    }
  }
}
