name: Gradle Build

on:
  push:
  workflow_dispatch:

concurrency: build-${{ github.ref }}

jobs:
  publish_vars:
    runs-on: ubuntu-latest

    outputs:
      publish: ${{ steps.publish_vars.outputs.release != 'true' && (github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/heads/1.')) }}
      repo: ${{ steps.publish_vars.outputs.repo }}

    steps:

      - uses: actions/checkout@v4

      - name: Get publishing variables
        id: publish_vars
        uses: enonic/release-tools/publish-vars@master
        env:
          PROPERTIES_PATH: './gradle.properties'

  build:
    runs-on: ubuntu-latest

    needs: publish_vars

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Prepare Gradle Arguments
        run: |
          BASE_ARGS="--refresh-dependencies build"
          PUBLISH_ARGS="publish -Pcom.enonic.xp.app.production=true -PrepoKey=${{ needs.publish_vars.outputs.repo }} -PrepoUser=ci -PrepoPassword=${{ secrets.ARTIFACTORY_PASSWORD }}"
          if [ "${{ needs.publish_vars.outputs.publish }}" == "true" ]; then
            GRADLE_ARGS="$BASE_ARGS $PUBLISH_ARGS"
          else
            GRADLE_ARGS="$BASE_ARGS"
          fi
          echo "GRADLE_ARGS=$GRADLE_ARGS" >> $GITHUB_ENV

      - name: Build with Gradle
        run: ./gradlew $GRADLE_ARGS

      - uses: actions/upload-artifact@v4
        with:
          name: contentstudio.plus
          path: build/libs/contentstudio.plus.jar

      - uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  selenium-test:
    strategy:
      fail-fast: false
      matrix:
        suite: [ w_testCSPlusChrome ]

    runs-on: ubuntu-latest

    needs: build

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - uses: actions/download-artifact@v4
        with:
          name: contentstudio.plus
          path: build/libs

      - name: Save license
        run: 'echo "$LICENSE" > enonic.platform.subscription.lic'
        shell: bash
        env:
          LICENSE: ${{secrets.ENONIC_LICENSE}}

      - name: Run Selenium Tests
        run: ./gradlew --refresh-dependencies :testing:${{ matrix.suite }}

      - name: Slack Notification
        uses: rtCamp/action-slack-notify@v2
        if: failure()
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_CHANNEL: notif-build-tests
          SLACK_USERNAME: GitHub Actions
          SLACK_TITLE: GitHub Action Failure in Content Studio+ app ${{ matrix.suite }}
          SLACK_MESSAGE: ${{job.container.id}}
          SLACK_ICON: https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png
          SLACK_COLOR: ${{ job.status }}

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: 'ui-test-report-${{ matrix.suite }}'
          path: |
            testing/build/reports

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: 'contentstudio'
          path: |
            testing/build/install/enonic-xp-generic-*/home/deploy/contentstudio*.jar
